.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 3vw;
}

.containerDark {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 3vw;
  color: white;
}

.heading {
  margin-top: 0;
  margin-bottom: 4vw;
}

.cardHolder {
  display: flex;
  flex-wrap: wrap;
}

.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 42vw;
  margin-left: 3.6vw;
  margin-right: 3.6vw;
  margin-bottom: 2vw;
  border: solid 2px orange;
  border-radius: 1vw;
}

.rubric {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
}

.icon {
  color: black;
}

.iconDark {
  color: white;
}

.techstack {
  display: flex;
}

.language {
  width: 50px;
  height: auto;
  border-radius: 20%;
  border: solid 2px black;
  margin-left: 1vw;
}

.languageDark {
  width: 50px;
  height: auto;
  border-radius: 20%;
  border: solid 2px white;
  margin-left: 1vw;
  background-color: white;
}
