.container {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  height: 87.5vh;
}

.containerDark {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  height: 87.5vh;
  color: white;
}

.logoDiv {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  margin-right: 5vw;
}

.logo {
  width: 4vw;
  height: auto;
  margin-bottom: 2vw;
}

.textDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-size: 22px;
  text-align: justify;
}

.resume {
    text-decoration: none;
    padding: 4px;
    margin: 2px;
    border: solid 1px orange;
    border-radius: 10%;
    color: orange;
}
