.container {
  display: flex;
  flex-direction: column;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
  font-family: "Montserrat", sans-serif;
}

.containerDark {
  display: flex;
  flex-direction: column;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.callToAction {
  text-align: center;
}

.contactMe {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3vw;
}

.icon {
  color: #a09fa5;
}

.iconDark {
  color: white;
}
